@import url('https://fonts.googleapis.com/css?family=Overpass:400,600,900');

@font-face {
  font-family: 'LunchtypeRegular';
  src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/v1543943334/homepage-2.0/fonts/lunchtype22-regular-webfont.woff2') format('woff2'),
    /* Super modern browsers */
    url('https://res.cloudinary.com/engagement-lab-home/raw/upload/v1543943334/homepage-2.0/fonts/lunchtype22-regular-webfont.woff') format('woff'),
    /* Modern browsers */
    url('https://res.cloudinary.com/engagement-lab-home/raw/upload/v1543943478/homepage-2.0/fonts/Lunchtype22-Regular.ttf') format('truetype');
  /* Safari, Android, iOS */
}

body {
  font-family: 'Overpass';
}

.App-logo {
  width: 1em;
  pointer-events: none;
}