// Mixins
@import '../../../node_modules/@engagementlab/el-scss/src/transforms';

body {
    padding: 1%;
}

#saved {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    padding: 1%;

    background-color: #c4f1c4;

    @include transition(all, .4s);
    @include translate(100%, 0);

    &.open {
        @include translate(0, 0);
    }
}