// Mixins
@import '../../../node_modules/@engagementlab/el-scss/src/transforms';

#admin {
    padding: 2rem;
}

.message {
    display: none;
    position: fixed !important;
    top: 0;
    right: 1%;
}