@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&family=Overpass:wght@400;600;900&display=swap');

@font-face {
  font-family: 'LunchtypeRegular';
  src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/v1543943334/homepage-2.0/fonts/lunchtype22-regular-webfont.woff2') format('woff2'),
    /* Super modern browsers */
    url('https://res.cloudinary.com/engagement-lab-home/raw/upload/v1543943334/homepage-2.0/fonts/lunchtype22-regular-webfont.woff') format('woff'),
    /* Modern browsers */
    url('https://res.cloudinary.com/engagement-lab-home/raw/upload/v1543943478/homepage-2.0/fonts/Lunchtype22-Regular.ttf') format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'LunchtypeMedium';
  src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/v1543943334/homepage-2.0/fonts/lunchtype22-medium-webfont.woff2') format('woff2'),
    /* Super modern browsers */
    url('https://res.cloudinary.com/engagement-lab-home/raw/upload/v1543943334/homepage-2.0/fonts/lunchtype22-medium-webfont.woff') format('woff'),
    /* Modern browsers */
    url('https://res.cloudinary.com/engagement-lab-home/raw/upload/v1543943478/homepage-2.0/fonts/Lunchtype22-Medium.ttf') format('truetype');
  /* Safari, Android, iOS */
}

body {
  font-family: 'LunchtypeRegular';
  font-size: 18px;
  color: black;
  background: white;
}

a,
span,
div {
  font-family: 'LunchtypeRegular' !important;
}

span,
div {
  color: black !important;
}

a {
  color: #00ab9e;
}

h1 {
  font-family: 'Overpass' !important;
  color: black !important;
}

#app {
  padding-top: 2rem;
}

#header {
  //   position: fixed;
  margin: -1rem 0 0 0;

  #version {
    font-size: xx-small;
    font-style: italic;
  }

  #profile {
    justify-content: end;

    #open {
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  .row {
    background-color: #000;
  }

  .column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .menu {
    .active {
      cursor: default;
    }

    .logout {
      display: flex;
      justify-content: end;

    }
  }

  span {
    color: white !important;
  }

  #deploy {
    font-weight: bold;
    color: #00ab9e;
  }
}

#item-page-save-button {
  border-radius: 0 !important;
  border: 4px solid #000 !important;
  background: white !important;
  color: black !important;
}

#deployed {
  display: none;
  position: fixed !important;
  top: 0;
  right: 1%;
  z-index: 100;
}

#deploy {
  .description, .done {
    padding: 2rem;

    #error {
      display: none;
      font-weight: bold;
      color: #f72923;
      #details {
        font-family: 'Overpass Mono', monospace!important;
      }
    }
  }

  .done {
    display: none;
  }

  #deploy-btn { 
    display: none;
  }
}